.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.loginTittles {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  font-size: 50px;
  top: 334px;
left: 338px;
width: 405px;
height: 60px;
margin-bottom: 20px;
color: #F0972A;
}
.loginText {
  top: 421px;
left: 338px;
width: 688px;
height: 156px;
margin-right: 100px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  top: 365px;
left: 1170px;
width: 294px;
height: 40px;
margin-bottom: 200px;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #96BB36;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled{
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #96BB36;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration-color: none;
}
