.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
 
}

.headerTitleSm {
  position: relative;
  top: 18%;
  font-size: 20px;
  color: #96BB36;
  text-align: left;
  
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}